body {
	background-color: #ddc4c4;
    font-family: 'Playfair Display SC', serif;
	color: #4e4b4b;
}

#title {
	margin-top: 45px;
}

#hangman-intro {
	font-size: 270%;
	margin-top: 25px;
}

#gameContainer {
	margin-top: 10px;
	padding: 30px;
}

#leftColumn {
	border: 1px solid #4e4b4b;
	padding: 30px;
}

#rightColumn {
	border: 1px solid #4e4b4b; 
	padding: 30px;
	height: 634px;
}

#currentWord {
	text-align: center;
}

#theWord {
	font-size: 160%;
	background-color: #252525; 
	line-height: 2.5;
	border-radius: 5px;
	margin-bottom: 20px;
}

#winLose {
	margin: auto;
	border: 1px dashed #4e4b4b;
	margin-top: 30px;
}

#wins, #remGuesses, #guessedLetters {
	height: 40px;
	font-size: 160%;
	line-height: 40px;
}


.imgDivs {
	margin-bottom: 30px;
}

.names {
	font-size: 70%;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 5px;
	text-align: center;
}

#upsideDown {
	transform: rotate(180deg);
}

#song {
	margin-top: 30px;
}